.createPost {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.createBnt {
    width: 150px;
    margin: 5px;
    padding: 5px 15px;
    border: 2px solid blanchedalmond;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: blanchedalmond;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.createInput {
    width: 100%;
    font-size: 14px;
    padding: 5px 15px;
    border: 2px solid blanchedalmond;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: blanchedalmond;
    border-radius: 5px;
    margin: 5px 0;
}
