.createBnt {
	width: 150px;
	margin-top: 5px;
	padding: 5px 15px;
	border: 2px solid blanchedalmond;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	background-color: blanchedalmond;
	cursor: pointer;
	font-size: 14px;
	border-radius: 5px;
}
